@charset "UTF-8";

h3 {font-size: var(--size-l); line-height: 110%;}
h4 {font-size: var(--size-m); line-height: 110%;}
p, li {font-size: var(--size-s); line-height: 110%;}
h6 {font-size: var(--size-xs); line-height: 110%;}
th, td {font-size: var(--size-s);}
button {font-size: var(--size-s);}

/* body {background-color: var(--beige); font-family: var(--kor);} */
#wrap {width: 1300px; height: auto; margin: 100px auto;}

/* 피자 선택 */
#main {width: 100%; margin-bottom: 50px; display: flex; flex-wrap: wrap; justify-content: center; align-content: space-between;}
.size {width: 200PX; height: 75px; display: flex; flex-wrap: wrap; align-content: space-between; text-align: center; font-family: var(--eng); margin-bottom: 50px;}
.size>p { width: 100% }
.sizeOpt {display: flex; justify-content: space-between; width: 100%;}
.sizeOpt label {width: 20%;}
.sizeOpt label input {display: none;}
.sizeOpt label input:checked + p {background-color:var(--darkred);}
.sizeOpt P { background-color: var(--darkgreen); height: 40px; line-height: 40px; border-radius: 50%;}



.menu {width: 100%;}
.pizzaWrap {width: 100%; height: 670px; padding: 50px 30px 0 30px; overflow: hidden;position: relative;}
.pizzaWrap>.pizzaL {width: 100%; height: 200%; border: 2px solid var(--black); border-radius: 50%; padding: 5%; }
.pizzaWrap > div {position: absolute; }
.pizzaWrap .round {height: 200px; width: 20px; left: 0; top:0; transform-origin: bottom center; }
.pizzaWrap .dot {display: block; width: 10px; height: 10px; background-color: black; border-radius: 50%; margin: 15px auto;}

.pizzaWrap >div span {
  height: 200px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}
.char1 { transform: rotate(0deg); }
.char2 { transform: rotate(6deg); }
.char3 { transform: rotate(12deg); }
.char4 { transform: rotate(18deg); }
.char5 { transform: rotate(24deg); }
.char6 { transform: rotate(30deg); }
.char7 { transform: rotate(36deg); }
.char8 { transform: rotate(42deg); }
.char9 { transform: rotate(48deg); }

/* .pizzaWrap > div:nth-of-type(1) {top: 70%; left: 3.9%; transform: translateX(-50%) rotate(-80deg); }
.pizzaWrap > div:nth-of-type(2) {top: 42.8%; left: 10.1%; transform: translateX(-50%);}
.pizzaWrap > div:nth-of-type(3) {top: 21%; left: 20.4%; transform: translateX(-50%);}
.pizzaWrap > div:nth-of-type(4) {top: 6.4%; left: 34%; transform: translateX(-50%);}
.pizzaWrap > div:nth-of-type(5) {top: 1.2%; left: 50%; transform: translateX(-50%);}
.pizzaWrap > div:nth-of-type(6) {top: 6.4%; right: 30.3%; ;}
.pizzaWrap > div:nth-of-type(7) {top: 21%; right: 16.8%; }
.pizzaWrap > div:nth-of-type(8) {top: 42.8%; right: 7.4%;}
.pizzaWrap > div:nth-of-type(9) {top: 70%; right: 2.5%;} */




.pizzaM {width: 100%; height: 100%;  border-radius: 50%; border: 1px solid var(--black); padding: 5%;}
.pizzaS {width: 100%; height: 100%;  border-radius: 50%;}
.pizzaS img {width: 100%; height: 100%;}
.pizzaName {width: 100%; height: 150px; text-align: center; margin-top: 50px;
display: flex; flex-direction: column;justify-content: space-between;}
.pizzaName h4 {font-family: var(--eng);font-weight: var(--weight-r);}


/* 옵션 선택창 */
#select {width: 100%; display: flex; justify-content: center; flex-wrap: wrap; align-content: space-between; margin-bottom: 100px;}
#select h4 {line-height: 150%;  margin: 2% 0; }
.option {width: 100%; height: 900px; display: flex; justify-content: space-between;}
.option .boxL { width: 59%; background-color: var(--lightred); height: 100%; border-radius: 50px; padding: 1.2% 2%; display: flex; flex-wrap: wrap; align-content: space-around;}




.option .boxL .dough {width: 100%; height: 30%; display: flex ; flex-wrap: wrap; justify-content: center; background-color: var(--white); border-radius: 30px; padding: 0 5%;}
.dough h4 {margin: 0;}
.dough .edgelist {width: 100%; display: flex; justify-content: space-between; text-align: center;}
.dough .edgelist label {width: 18%;}

.dough label .edgeImg {position: relative; width: 100%; height: 55%;}
.dough label .edgeImg img {width: 100%; height: 100%; object-fit: cover;}
.option .boxL .dough label i {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block;} 
.dough label input {display: none;}
.option .boxL .dough label input:checked + i { background-color:  rgba(236, 106, 64,0.8); }
.option .boxL .dough label input:checked + i::after {content: ""; background-image: url(../img/sub_1/btn_check_b.png); position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; background-repeat: no-repeat; background-position: center;}



.option .boxL .add {width: 100%; height: 65%; background-color: var(--white); border-radius: 30px; display: flex; flex-wrap: wrap; justify-content: center; }
.option .boxL .add ul {display: flex; flex-wrap: wrap; height: 80%; justify-content: space-evenly;}
.option .boxL .add li {width: 36%;}

.option .boxL .add li input[type="checkbox"] {display: none; }
.option .boxL .add li input[type = "checkbox"] + label {cursor: pointer; display: flex; align-items: center;}
.option .boxL .add li input[type = "checkbox"] + label:before {content: " "; display: inline-block; width: 4rem; height: 4rem; background-color: var(--lightgreen); vertical-align: middle;}
.option .boxL .add li input[type = "checkbox"]:checked + label:before {content: ""; background-color: var(--darkgreen); vertical-align: middle; background-image: url('../img/sub_1/btn_check.png'); background-position: center; background-repeat: no-repeat;}


.option .boxL .add li p {display: inline;}
.option .boxL .add li p span {font-size: var(--size-s);}



.option .boxR { width: 39%; background-color: var(--lightred); height: 100%; border-radius: 50px;  padding: 2%; display: flex; flex-wrap: wrap; justify-content: center; align-content: space-between;} 
.count {display: flex;; align-items: center; flex-wrap: wrap; justify-content: center;}
.count h4 {width: 100%; text-align: center;}
.count h6 {font-weight: var(--weight-t); text-align: right; width: 85%;; line-height: 150%;}

.countbox {background-color: var(--white); width: 85%; height: 40px; display: flex; justify-content: space-between; border-radius: 50px; align-items: center;}
.countbox .minus, input, .plus {border: none; background: none; line-height: 100%;  text-align: center;}
.countbox button {width: 40%; font-size: var(--size-s);}
.countbox input[type="text"] {width: 60%; font-size: var(--size-s);}
.countbox #result {font-size: var(--size-s);}

.receipt {width: 100%; height: 83%; background-color: var(--white); border-radius: 30px; display: flex; flex-wrap: wrap; justify-content: center; padding: 8%; align-content: space-between;}
.receipt .nameWrap {width: 100%; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black; display: flex; justify-content: center;}
.receipt .name {text-align: center; font-weight: var(--weight-r); width: 75%;  }

.confirm {width: 100%; height: 60%; background-color: aliceblue; display: flex;}
.confirm .addlist {width: 55%; height: 100%; background-color: bisque;}
.confirm .plus {width: 5%; height: 100%; background-color: blueviolet;} 
.confirm .addprice {width: 40%; height: 100%; background-color: aquamarine;}
.total {width: 100%;}
.total h4 {text-align: right;}

.order {width: 100%; display: flex; justify-content: center;}
.order button {width: 50%; height: 80px; margin:0 5px; background-color: var(--lightgreen); border: none;}
.order button:hover {cursor: pointer; background-color: var(--darkgreen);  transform: scale(1.03);}
.order button:nth-of-type(1) {border-radius:  50px 0  0 50px; padding-left: 10px;}
.order button:nth-of-type(2) {border-radius: 0 50px 50px 0px; padding-right: 10px;}

/* 정보 */
#info {width: 100%; height: 850px; display: flex; flex-wrap: wrap; align-content: space-between;}
#info h4 {line-height: 150%;}
.nut {width: 100%; }
.nut table {width: 100%; height: 360px; text-align: center; border-bottom: 1px solid var(--lightgray); border-top: 1px solid var(--lightgray);border-collapse: collapse;}
.nut table thead  {height: 20%;}
.nut table thead th {border-bottom: 1px solid var(--lightgray); line-height: 100%;}
.nut th {width: 11.1111%;}
.nut th span {font-size: var(--size-xs);}
.nut tbody {color: var(--lightgray)}

.allergy {width: 100%; height: 150px; display: flex; flex-direction: column; justify-content: space-between;}
.allergy table {height: 85%; text-align: center; line-height: 85%; border-bottom: 1px solid var(--lightgray); border-top: 1px solid var(--lightgray);}
.allergy table td {color: var(--lightgray)}
.org {width: 100%; height: 150px; display: flex; flex-direction: column; justify-content: space-between;}
.org table {height: 85%; text-align: center; line-height: 85%; border-bottom: 1px solid var(--lightgray); border-top: 1px solid var(--lightgray);}
.org table td {color: var(--lightgray)}